body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00ff33;
	letter-spacing:.1em;
	background:#000000;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00ff33;
	letter-spacing:.1em;
	text-decoration:none;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00ff33;
	letter-spacing:.1em;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color: #00ff33;
	letter-spacing:.1em;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #00ff33;
	letter-spacing:.1em;
	margin:0px;
}
